.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin:auto;
}

.logo >img{
    width: 10rem;
    height: 6rem;
    object-fit: contain;
    cursor: pointer;   
}

.right{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.nav-links{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    
}

.nav-links li a{
    font-size: 1.1rem;

}
.icon{
    width: 2.5rem;
    height: 2.5rem;
}

.icons .btn{
    width: 7rem;
    height: 3rem;
    border-radius: 2rem;
    border: 2px solid red;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
}

.icons .btn:hover{
    background-color: rgb(245, 104, 104);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    border: 4px solid red;
}

.nav-links li{
    display: flex;
    align-items:center;
    justify-content: center;
}